* {
  box-sizing: border-box;
}
body {
  margin: 0
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
.container {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
.message {
  line-height: 1em;
  margin: 20px auto 0;
}
.grid {
  background: #e2e2e2;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto 0;
  height: 400px;
  width: 400px;
}

.square {
  border: 6px solid;
  border-color: #dadada #7c7c7c #949494 #ededed;
  text-align: center;
  padding: .5rem;
  height: 40px;
  width: 40px;
}
.bomb {
  padding: .1rem;
}
.flag {
  padding: .1rem;
}
.checked {
  background: green;
  border: 1px solid #084b02;
  
}